.post
  .entry
    %h2.title 
      %a Lista zadań
    %table
      %tr.meta
        %td Id
        %td Nazwa
        %td Stan
        %td Źródło
        %td Wynik
        %td Nazwa rozszerzenia
        %td Timeout
        %td &nbsp;
      - Task.all.each do |task|
        %tr
          %td= task.id
          %td
            %a{ :href => "/clients/#{task.id}" }
              = task.name
          %td= task.workflow_state
          %td= task.source
          %td= task.output
          %td= task.extension_name
          %td= task.timeout
          %td.action-link
            %a{ :href => "/edit_task/#{task.id}" } Edytuj
            %form{ :method => "post", :action =>"/delete_task/#{task.id}"}
              %input{ :type => 'submit', :value => 'Usuń', :onclick => "javascript:return confirm('Czy na pewno chcesz usunąć to zadanie?')"}
  %a{ :href => '/new_task' } Nowe zadanie
